
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	

    <mvc:annotation-driven/>
 	<context:component-scan base-package="com.citi.trs" />
 	
 	
 	<bean id="dataSource" class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
   		 <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
   		 <property name="url" value="jdbc:oracle:thin:@localhost:1521:XE" />
   		 <property name="username" value="SYSTEM"/>
   		 <property name="password" value="system"/>
   		 
   </bean>



 
 <mvc:resources mapping="/*.html" location="/WEB-INF/htmlpages/"></mvc:resources>
<mvc:resources mapping="/*.js" location="/WEB-INF/"></mvc:resources>
<!--  <mvc:resources mapping="/*.js" location="/WEB-INF/"></mvc:resources>-->

<!-- 
<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
  <property name="webBindingInitializer">
    <bean class="org.springframework.web.bind.support.ConfigurableWebBindingInitializer"/>
  </property>
  <property name="messageConverters">
    <list>
      <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/>
    </list>
  </property>
</bean>
 -->
 
</beans>